.ipynb_checkpoints/
datasets/
*.pkl
*.mmap

checkpoint

my_checkpoints.data-00000-of-00001
my_checkpoints.index
my_cifar10_alpha_dropout_model/
my_cifar10_bn_model/
my_cifar10_logs/
my_cifar10_model/
my_cifar10_selu_model/
my_fashion_mnist/
my_keras_model/
my_logs/
my_mnist_logs/
my_mnist_model/
my_model_A/
my_weights.data-00000-of-00001
my_weights.index

my_custom_model/
my_model_with_a_custom_layer/
my_model_with_a_custom_loss/
my_model_with_a_custom_loss_class/
my_model_with_a_custom_loss_threshold_2/
my_model_with_a_custom_metric/
my_model_with_a_custom_metric_v2/
my_model_with_many_custom_parts/

bach_cold.wav
bach_hot.wav
bach_medium.wav
bach_test_4.wav
images/rnn/daily_ridership_plot.png
images/rnn/differencing_plot.png
images/rnn/forecast_ahead_plot.png
images/rnn/long_term_ridership_plot.png
images/rnn/yearly_diff_plot.png
my_bach_model/
my_compressed.tfrecord
my_data.tfrecord
my_sketchrnn/
my_test_0.tfrecord
my_test_1.tfrecord
my_test_2.tfrecord
my_test_3.tfrecord
my_test_4.tfrecord
person.proto

images/nlp/positional_embedding_plot.png
my_shakespeare_model/
my_stateful_shakespeare_model/
my_tfhub_cache/

images/generative/dcgan_generated_images_plot.png
images/generative/ddpm_generated_images_plot.png
images/generative/dropout_denoising_plot.png
images/generative/fashion_mnist_visualization_plot.png
images/generative/gan_generated_images_plot.png
images/generative/linear_autoencoder_pca_plot.png
images/generative/reconstruction_plot.png
images/generative/semantic_interpolation_plot.png
images/generative/sparsity_loss_plot.png
images/generative/vae_generated_images_plot.png
images/generative/variance_schedule_plot.png
my_diffusion_model/










