.ipynb_checkpoints/
datasets/
*.pkl
*.mmap

checkpoint

my_checkpoints.data-00000-of-00001
my_checkpoints.index
my_cifar10_alpha_dropout_model/
my_cifar10_bn_model/
my_cifar10_logs/
my_cifar10_model/
my_cifar10_selu_model/
my_fashion_mnist/
my_keras_model/
my_logs/
my_mnist_logs/
my_mnist_model/
my_model_A/
my_weights.data-00000-of-00001
my_weights.index

