.ipynb_checkpoints/
datasets/
*.pkl
*.mmap

checkpoint

my_checkpoints.data-00000-of-00001
my_checkpoints.index
my_cifar10_alpha_dropout_model/
my_cifar10_bn_model/
my_cifar10_logs/
my_cifar10_model/
my_cifar10_selu_model/
my_fashion_mnist/
my_keras_model/
my_logs/
my_mnist_logs/
my_mnist_model/
my_model_A/
my_weights.data-00000-of-00001
my_weights.index

my_custom_model/
my_model_with_a_custom_layer/
my_model_with_a_custom_loss/
my_model_with_a_custom_loss_class/
my_model_with_a_custom_loss_threshold_2/
my_model_with_a_custom_metric/
my_model_with_a_custom_metric_v2/
my_model_with_many_custom_parts/


